body {
    margin:0;
}

nav {
    background-color: black;
    color: white;
    display:flex;
}

nav p {
    margin: 0;
    padding: 0;
}

nav ul {
    margin:0;
    display:flex;
    justify-content: flex-end;
    flex: 2;
}

nav ul li {
    padding: 1rem 2rem;
    list-style: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.logo {
    display:inline-block;
}

.d-inline-block {
    display:inline-block;
}

.menu-botones {
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.menu-botones input[type="submit"] {
    margin: 1rem auto;
    background-color: #007497;
    color: white;
    border-style: none;
}

.form-ingreso {
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.form-ingreso input[type="text"] {
    margin: 1rem auto;
}

.form-ingreso input[type="submit"] {
    margin: 0.3rem auto;
    background-color: #007497;
    color: white;
    border-style: none;
}

.logo {
    background-image: url('../img/logo.png');
    width: 100px;
}